footer {
  background-color: #0a0e11;
  padding-bottom: 50px;
  position: relative;
  // z-index: 1;
  .layout {
    overflow: hidden;
    position: relative;
    width: 100%;
    .inner {
      width: 95%;
      max-width: 1100px;
      margin: 0 auto;
      box-sizing: border-box;
      .logo {
        margin: 20px auto;
      } //logo
      address {
        text-align: center;
        font-size: 0.85em;
        color: rgba(255, 255, 255, 0.6);
        p.footer-info {
          padding-bottom: 10px;
          i {
            &::after {
              padding: 0 5px;
              content: " | ";
            } //&::after
            &:last-child::after {
              display: none;
            } //&:last-child::after
          } //i
        } //p.footer-info
      } //address
    } //inner
  }
  &::before {
    width: 100%;
    height: 200px;
    //background: -webkit-linear-gradient(90deg, rgba(25, 39, 49, 1), transparent);
    content: "";
    display: block;
    position: absolute;
    top: -200px;
    left: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 200px;
    background: url(../img/logo&icon/footer-bg.png) no-repeat center bottom;
    background-size: cover;
    display: block;
    position: absolute;
    top: -200px;
    left: 0;
  }

  //제일 작은 모바일 화면에서는 하단 이미지 숨기기
  @media screen and (max-height: 700px) {
    &::before,
    &::after {
      display: none;
    } //&::before,   &::after
  } //@media end
} //footer
