body {
  overflow: hidden; /*스크롤바 사라짐*/
}

.preloader {
  position: fixed;
  z-index: 130; /*제일 위로*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--navy-main);
  .loader-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    //border: 1px solid red;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
   
    }
    .loader-bg {
      position: relative;
    }
    .loader {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    .textbox {
      //border: 1px solid yellow;
      font-size: 1.3em;
      font-weight: 600;
      color: #fff;
      margin: 20px auto;
      text-align: center;
      
      p{
        span{
          letter-spacing: -5px;
          opacity: 0;
        }
        @for $i from 1 to 11{
          span:nth-of-type(#{$i}){
           animation: loader-text 0.1s forwards;
           animation-delay: ($i *0.1s);
          }
       
      }//p

      @keyframes loader-text {
        0%{opacity: 0;}
        100%{opacity: 1;}
      }
    }
    }
  } //loader-img

  /***************************************************/

  .loader-img {
    img {
    }
    .loader-bg {
    }

    img {
      transition: transform 0.6s;
    }

    @for $i from 1 to 4 {
      .loader#{$i} {
        animation: loader-move (0.3s * $i);
        animation-delay: 0.15s;
        animation-fill-mode: forwards;
      }
    } //loader-img
  } //loader-img
} //preloader

@keyframes loader-move {
  0% {
    opacity: 0;
    transform: translateY(-230px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
