/*전체적인 홈페이지 스타일가이드, 무드를 설정*/

@font-face {
  font-family: "EBS";
  src: url("../font/EBSL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSR.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSB.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanM.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanEB.woff") format("woff");
  font-weight: bold;
}

* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #444;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  background-color: #fff;
}

.ebs {
  font-family: "EBS";
}

.point-serif {
  /*한자-세리프*/
  font-family: "Noto Serif SC", serif;
}
.point-sans {
  /*한자-고딕*/
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --navy-main: #000a16;
  --navy-sub: #203e5f;
  --yellow-main: #ffcc00;
  --yellow-sub: #fee5b1;
  --dark: #333333;
  --gray: #838383;
}

video{
  pointer-events: none !important;
}
 
 
