.gnb-map {
  position: fixed; /*고정*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.3s;
  &.active{
    display: block; 
    transform: scale(1);
  }// &.active
  .hover-bg{
    mix-blend-mode: screen;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transition: all 0.5s;
      &.active{
        opacity: 1;
      }//&.active
    }//img
  }//hover-bg
  
  .video-wrap2 {
    position: relative;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }//ifram
  }//video-wrap

  ul{
    position: absolute;
    width: 100%;
    height: 20%;
    max-width: 1100px;
    z-index: 11;
    left: 50%; top:40%;
    transform: translate(-50%, -50%);
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    //border: 1px solid yellow;
    li{
      width: 25%;
      height: 100%;
      position: relative;
      text-align: center;
      //border: 1px solid red;

      a,span{
        position: absolute;
        color: #FFF;
        writing-mode: vertical-rl;
      }//a,span
      a{
        font-size: 2.3em;
        &::before{
          content: '';
          position: absolute;
          top: 0;left: -10px;
          
          display: block;
          width: 3px;
          height: 100%;
          background-color: #FFF;
        }//::before
      }//a
      span{
        font-size: 4em;
        opacity: 0.3;  
      }//span
    }//li
  }//ul

  .lantern-container{
    width: 100%;
    mix-blend-mode: lighten;
    .lantern {
      top: 0;
      position: absolute;
      scale: 1;
    }
    .lantern-left {
      left: 0;
      //animation: lantern-motion  5s infinite linear;
      //transform-origin: top left;
    }//lantern-left
    .lantern-right {
      right: 0;
     // animation: lantern-motion  7s infinite linear;
      //transform-origin: top right;
    }//lantern-right
  }//lantern
} //gnb-map

@keyframes lantern-motion {
  0%{

    transform: rotate(0);
  } 
  30%{
      transform: rotate(-3deg);
  }
  50%{
    transform: rotate(0);
  }
  70%{
    transform: rotate(-3deg);
}
100%{
  transform: rotate(0deg);
}
}