.gnb-map {
  position: fixed; /*고정*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; /*트랜스폼 먹게하려고 display block 대신*/
  transform: translateY(-100%);
  transition: transform 1s;
  overflow: hidden;
  z-index: 101;
  &.active{
    visibility: visible;
    transform: translateY(0);
  }// &.active
  .hover-bg{
    width: 100%;
    mix-blend-mode: screen;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transition: all 0.5s;
      &.active{
        opacity: 1;
      }//&.active
    }//img
  }//hover-bg
  
  .video-wrap2 {
    position: relative;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }//ifram
  }//video-wrap

  ul{
    position: absolute;
    width: 100%;
    height: 20%;
    max-width: 1100px;
    z-index: 11;
    left: 50%; top:40%;
    transform: translate(-50%, -50%);
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    //border: 1px solid yellow;
    li{
      height: 100%;
      position: relative;
      text-align: center;
      //border: 1px solid red;
      @media screen and (min-width:800px){
        width: 25%;
      }

      @media screen and (max-width:800px){
        margin-bottom: 60px;
        width: 50%;
      }
      a,span{
        position: absolute;
        color: #FFF;
        writing-mode: vertical-rl;
      }//a,span
      a{
        font-size: 2.3em;
        &::before{
          content: '';
          position: absolute;
          top: 0;left: -10px;
          
          display: block;
          width: 3px;
          height: 100%;
          background-color: #FFF;
        }//::before
      }//a
      span{
        font-size: 4em;
        opacity: 0.3;  
      }//span
    }//li
  }//ul

  .bg-container{
    width: 100%;
    >img{
     
      position: absolute;
    }
    .lantern {
      mix-blend-mode: lighten;
      top: 0;
      scale: 1;
    }
    .lantern-left {
      left: 0;
    }//lantern-left
    .lantern-right {
      right: 0;
    }//lantern-right
    .bg-tree{
      width: 100%;
      bottom: 0;
      mix-blend-mode: color-burn;
      // transform: scale(1.2);
      transition: transform 0.3s;
      &:nth-child(2){
        opacity: 2;
      }
    }
  }//lantern

} //gnb-map





@keyframes lantern-motion {
  0%{

    transform: rotate(0);
  } 
  30%{
      transform: rotate(-3deg);
  }
  50%{
    transform: rotate(0);
  }
  70%{
    transform: rotate(-3deg);
}
100%{
  transform: rotate(0deg);
}
}