@charset "UTF-8";
header {
  z-index: 102;
  position: absolute;
  overflow: hidden; /*별 밖으로 나가는거 처리*/
  top: 0;
  width: 100%;
  height: 70px;
}
header .logo {
  transform-origin: left;
}
header.active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
}
header div.inner {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header div.inner h1 {
  transform: scale(0.7);
  transform-origin: left;
  height: 80%;
}
header div.inner .right {
  display: flex;
  align-items: center;
}
header div.inner .right .gnb-btn {
  position: relative;
  z-index: 100;
  width: 30px;
  height: 30px;
  transform: scale(0.7);
}
header div.inner .right .gnb-btn .hamburger {
  position: relative;
}
header div.inner .right .gnb-btn .hamburger::before {
  content: "";
  position: absolute; /*넓이 들어가고 영역 위치 잡기*/
  width: 45px;
  height: 45px;
  border: 2px solid transparent;
  border-radius: 100%;
  top: -15px;
  left: -9px;
  transition: color 0.3s ease-in-out;
}
header div.inner .right .gnb-btn .hamburger span.line {
  display: block;
  height: 2px;
  margin: 6px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
header div.inner .right .gnb-btn .hamburger span.line:nth-child(1), header div.inner .right .gnb-btn .hamburger span.line:nth-child(3) {
  width: 20px;
}
header div.inner .right .gnb-btn .hamburger.active {
  transform: rotate(45deg); /*기울이기*/
}
header div.inner .right .gnb-btn .hamburger.active::before {
  border-color: #fff;
}
header div.inner .right .gnb-btn .hamburger.active .line {
  width: 35px;
}
header div.inner .right .gnb-btn .hamburger.active .line:nth-child(1), header div.inner .right .gnb-btn .hamburger.active .line:nth-child(3) {
  width: 25px;
}
header div.inner .right .gnb-btn .hamburger.active .line:nth-child(1) {
  transform: translateY(10px); /*기울이기*/
}
header div.inner .right .gnb-btn .hamburger.active .line:nth-child(2) {
  opacity: 0; /*안보이게*/
}
header div.inner .right .gnb-btn .hamburger.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(90deg); /*기울이기*/
}
@media screen and (min-width: 800px) {
  header div.inner .right .gnb-lg ul {
    display: flex;
    align-items: center;
  }
  header div.inner .right .gnb-lg ul li {
    padding: 0 20px;
  }
  header div.inner .right .gnb-lg ul li a {
    transition: color 0.3s;
    color: #AAA;
    /*-----------------------------------*/
  }
  header div.inner .right .gnb-lg ul li a .menu-title {
    letter-spacing: -1.8px;
  }
  header div.inner .right .gnb-lg ul li a .menu-title span {
    transition: font-weight 0.5s;
  }
  header div.inner .right .gnb-lg ul li a:hover .menu-title {
    position: relative;
  }
  header div.inner .right .gnb-lg ul li a:hover .menu-title span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    animation: flip 0.8s;
    animation-delay: calc(0.2s * var(--i));
  }
  header div.inner .right .gnb-lg ul li a.on {
    color: #fff;
  }
  header div.inner .right .gnb-lg ul li span.point-serif {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header div.inner .right .gnb-lg {
    display: none;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(360deg);
  }
  10% {
    transform: rotateY(360deg);
  }
}/*# sourceMappingURL=header.css.map */