.logo{
 // border: 1px solid #EEE;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  transform: scale(0.7);
  .inner-logo {
    span.logo-icon{
      //background-color: aqua;
      display: inline-block;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      animation: moon 10s linear infinite;
      margin-right: 10px;
    }//span.logo-icon
      }//inner-logo
    div.logo-text{
      display: inline-block;
      //background-color: antiquewhite; 
     img{
        width: 100%;
      }//figure
      
      span.star{
        position: absolute;/*넓이랑 위치잡아줌*/
        width: 3px;
        height: 3px;
        color: #FFF;
        top: -20%;
        left: 50%;
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(255,255,255,0.1), 
        0 0 0 8px rgba(255,255,255,0.1),
        0 0 16px rgba(255,255,255,0.1);
        animation: star 8s linear infinite;
        &::before{//직선
          content: '';
          position: absolute;
          top:50%;
          width: 100px;
          height: 1px;
          transform: translateY(-50%);
          background: linear-gradient(90deg,#fff, transparent);
        }//&::before
        &:nth-child(2){
          position: absolute;
          top: 0;
          left: 0;
          animation-delay: 0;
          animation-duration: 5s;
        }//&:nth-child(2)
      }//span.star
    }//logo-text

}//logo

@keyframes moon{
  0%{
    box-shadow: -52px 0 #FFF inset;//내부 안쪽에 그림자..달처럼보이게
  }
  100%{ box-shadow: 20px 0 #FFF inset;}
}


@keyframes star {
  0%{
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70%{
    opacity: 0.3;
  }
  100%{
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}