.sub-visual {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../../img/sub/sub-visual/kbg/kbg-background.png) !important;
  background-attachment: fixed;
  video {
    position: absolute;
    width: 70%;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 50px;
    mix-blend-mode: screen;
    @media screen and (min-width: 1200px) {
    }
    @media screen and (max-width: 1200px) {
      position: absolute;

      width: 100%;
    }
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .sub-title-wrap {
    position: relative;
  } //sub-title-wrap

  .sub-visual-slider{
    position: absolute;
    width: 100%;
    bottom: 0;

    @media screen and (orientation:landscape){
      height: 50%;
    }//land
    @media screen and (orientation:portrait){
      height: 50%;
    }//port
    figure.castle{
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center top;
      }
    }//figure.castle
  }//sub-visual-slider
} //sub-visual
