main.sub {
  color: #fff;
    figure.bg-deco{
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        position: absolute;
        object-fit: cover;
        object-position: center;
        opacity: 0.5;
      }//img
      img.mountain{
        width: 105%;
        bottom: -15%;
        opacity: 0.1;
        @media screen and (max-width:900px){
          bottom: -5%;
        }
      }//img.mountain
      img.frame1{
        top: 0;
        width: 10%;
        opacity: 0.8;
        @media screen and (max-width:900px){
          width: 20%;
        }
      }//img.frame1
      img.frame1-left{
        left: 0;
      }//img.frame1-left
      img.frame1-right{
        right: 0;
      }//img.frame1-right
      img.cloud{
        width: 30%;
      }
      img.cloud1{
        top: 20%;
        left: 5%;
      }
      img.cloud2{
        top: 50%;
        left: -7%;
      }
      img.cloud3{
        bottom: 20%;
        right: -5%;
      }
      img.lantern{
        width: 25%;
        top: 0;
        right: 15%;
      }
    }//figure.bg-deco

    div.sub-history-content{
      margin: 0 auto;
      margin-top: 20px;
      height: 80%;
      width: 80%;
      border: 1px solid #fff;
      @media screen and (min-width:900px){
        max-width: 1200px;
      }
      @media screen and (max-width:900px){
        max-width: 400px;
      }
      .inner{
        position: relative;
        width: 100%;
        height: 30%;
        overflow: hidden;
        img{
          position: absolute;
          bottom: -60%; left: 0;
          transform: translateX(-16%);
        }
        .bar-textbox{
          position: absolute;
          width: 3600px;
          bottom: -11%; left: 10px;
          color: var(--navy-main);
          p{
            font-size: 1.2em;
          }
          h3{
            display: inline-block;
            font-size: 4em;
            font-weight: 600;
          }
          .point-sans{
            display: inline-block;
            font-size: 3.9em;
          }
        }//.bar-textbox
      }//.inner
    }//div.content
}//main.sub