main.sub {
  .sub-history{
    height: 100%;
    @media screen and (max-width:1000px){
      height: 130%;
    }
    .sub-title-wrap{
      @media screen and (max-width:1000px){
        padding-top: 70px;
      }
    }
    figure.bg-deco{
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height :100%;
      overflow :hidden;
      img{
        position: absolute;
        object-fit: cover;
        object-position :center;
        opacity : 0.5;
      }//img
      img.mountain{
        width :105%;
        bottom :-15%; 
        opacity :0.1;
        @media screen and (max-width:1000px){
          bottom :-5%;
          height: 20%;
        }
      }//img.mountain
    }//figure.bg-deco

    /* content--------------------------------------------- */
    div.sub-history-content{
      margin :0 auto;
      height :100%;
      overflow: hidden;
      @media screen and (min-width:1000px){
        width :100%;
        max-width: 1200px;
        margin-top: 50px;
      }
      @media screen and (max-width:1000px){
        width :80%;
        max-width :800px;
      }
      div.col_width{//한칸의 크기 
          height: 100%;
        @media screen and (min-width:1000px){
          width: 50%;
        }
        @media screen and (max-width:1000px){
          width: 100%;
        }
        ol.img_container{
          position :relative;
          width: 600%;
          height: 100%;
          display: flex;
          cursor: grab;
          li{
            position: relative;
            width: 16.6666%;
            height: 100%;
            figure.top-img{
              position: relative;
              width: 100%;
              height: 38%;
              overflow: hidden;
              @media screen and (max-width:1000px){
                height: 25%;
              }
              img{
                position: absolute;
                bottom :-50%;
                @media screen and (max-width:1000px){
                  bottom :-70%;
                }
              }//img
            }//figure.top-img
            div.century-textbox{
              position: absolute;
              top: 20%; left: 0;
              width: 100%;
              margin-left: 10px;
              padding-right: 20px;
              box-sizing: border-box;
              @media screen and (max-width:1000px){
                top: 12%;
              }
              p.century{
                font-size: 1.2em;
              }//p.century
              h3.year{
                font-size :5em;
                font-weight: 600;
                @media screen and (max-width:1000px){
                  font-size :12vw;
                }
                span.point-sans{
                  font-weight: 400;
                }//sub.point-sans
              }//h3.year
            }//div.century-textbox
            div.bottom-content{
              margin-top: 20px;
              height: 60%;
              display: flex;
              @media screen and (max-width:1000px){
                display:block;
                height: 70%;
                margin-top: 10px;
              }
              div.bottom-textbox{
                width: 50%;
                padding: 10px;
                padding-top: 30px;
                box-sizing: border-box;
                @media screen and (max-width:1000px){
                  width: 100%;
                  padding-top: 10px;
                }
                h4{
                  display: flex;
                  height :50px;
                  align-items: center;
                  .arrow{
                    width :50px;
                    height :50px;
                  }//img
                  em.history-title{
                    font-size: 1.5em;
                    line-height: 25px;
                  }//em.history-title
                }//h4
                div.yearly-textbox{
                  padding-left :10px;
                  margin-top :30px;
                  @media screen and (max-width:1000px){
                    margin-top :20px;
                  }
                  p.yearly{
                    white-space: nowrap;
                    padding: 5px;
                    em{
                      display: inline-block;
                      width :50px;
                    }
                    b{
                      padding-left: 10px;
                    }
                  }//p.yearly
                }//div.yearly-textbox
              }//div.bottom-textbox
              figure{
                display: flex;
                box-sizing :border-box;
                align-items: flex-start;
                @media screen and (min-width:1000px){
                  width:50%;
                  padding: 30px 0;
                }
                @media screen and (max-width:1000px){
                  width: 100%;
                }
                img{
                  object-fit: cover;
                  object-position: center;
                  box-sizing :border-box;
                  padding :5px;
                  flex :1;
                  &:first-child{
                    width: 55%;
                  }//first-child
                  &:last-child{
                    width: 40%;
                    padding-top: 18%;
                  }//last-child
                }//img
              }//figure
            }//div.bottom-content
          }//li한칸안의 내용들
/* active motion ----------------------------------------*/
          li{
            .century-textbox,.history-title{
              color: var(--gray);
              transition: color 1s;
            }

          }//li active 전 
          li.active{

          }//li active
        }//ol.img_container
      }//div.col_width
    }//div.sub-history-content overflow
  }//sub-history-kbg

  /* button--------------------------------------------- */
  div.controls{
    position: absolute;
    display :flex;
    align-items: center;
    justify-content :center;
    width: 100%;
    height: 10%;
    @media screen and (min-width:1000px){
      max-width: 1200px;
      bottom: 10%;
      margin-top :15px;
    }
    @media screen and (max-width:1000px){
      max-width :800px;
    }
    div.indicator{
      width :100%;
      height: 100%;
      display :flex;
      justify-content: center;
      margin :0 20px;
      button{
        flex :1;
        color :#fff;
        font-size: 2em;
        margin : 0 10px;
        opacity: 0.5;
        @media screen and (max-width:1000px){
          display: none;
        }
        &:hover,&.active{
          opacity: 1;
          font-size: 3em;
        }
        &.active{
          color: var(--yellow-sub);
          font-weight: 600;
        }
      }//button
    }//div.indicator
    .prev,.next{
      position: absolute;
      display: inline-block;
      font-size :3em;
      text-align :center;
      color :#fff;
      opacity: 0.5;
      transition: all 0.5s;
      text-align: center;
      @media screen and (max-width:1000px){
        font-size: 1em;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
      }
      &:hover{
        opacity: 1;
      }
    }//.prev,.next
    .prev{
      
      @media screen and (min-width:1000px){
        left: -5%;
      }
      @media screen and (max-width:1000px){
        bottom: -20%;
        left: 2%;
      }
    }
    .next{
      @media screen and (min-width:1000px){
        right: -5%;
      }
      @media screen and (max-width:1000px){
        bottom: -20%;
        right: 2%;
      }
    }
  }//div.controls
}//main.sub