main.sub {
  .sub-history{
    height: 100%;

    /* bg----------------------------------------------- */
    figure.bg-deco{
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        position: absolute;
        object-fit: cover;
        object-position: center;
        opacity: 0.5;
      }//img
      img.mountain{
        width: 105%;
        bottom: -15%; 
        opacity: 0.1;
        @media screen and (max-width:1000px){
          bottom: -5%;
        }
      }//img.mountain
      img.frame1{
        top: 0;
        width: 10%;
        opacity: 0.8;
        @media screen and (max-width:1000px){
          width: 20%;
        }
      }//img.frame1
      img.frame1-left{
        left: 0;
      }//img.frame1-left
      img.frame1-right{
        right: 0;
      }//img.frame1-right
      img.cloud{
        width: 30%;
      }
      img.cloud1{
        top: 20%;
        left: 5%;
      }
      img.cloud3{
        bottom: 20%;
        right: -5%;
      }
      img.lantern{
        width: 25%;
        top: 0;
        right: 15%;
      }
    }//figure.bg-deco

    /* content--------------------------------------------- */
    div.sub-history-content{
      margin: 0 auto;
      margin-top: 20px;
      width: 80%;
      height: 80%;
      overflow: hidden;
      @media screen and (min-width:1000px){
        max-width: 1200px;
      }
      @media screen and (max-width:1000px){
        max-width: 800px;
      }

      /* 상단 bar------------------------------------------- */
      .inner{
        position: relative;
        width: 100%;
        height: 30%;
        overflow: hidden;
        img{
          position: absolute;
          @media screen and (min-width:1000px){
            bottom: -60%; left: 0;
          }
          @media screen and (max-width:1000px){
            bottom: -60%; left: 0;
          }
        }
        .bar-textbox{
          position: absolute;
          display: flex;
          width: 3600px;
          bottom: -12%; left: 10px;
          div.year{
            width: 530px;
            color: var(--gray);
            &.active{
              color: var(--main-navy);
            }
            p{
              font-size: 1.2em;
            }
            h3{
              display: inline-block;
              font-size: 4em;
              font-weight: 600;
              margin: 0;
              padding: 0;
            }
            .point-sans{
              display: inline-block;
              font-size: 3.9em;
            }
          }//div.year
        }//.bar-textbox
      }//.inner

      /* history,img-------------------------------------------- */
      .contents{
        display: flex;
        height: 50%;
        .content{
          display: flex;
          flex: 1;
          .textbox{
            color: #fff;
            width: 250px;
            height: 100%;
            .wrap{
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 30px auto;
              img{
                width: 60px;
              }
              h2{
                font-size: 1.3em;
              }
            }//.wrap
            p{
              font-size: 0.8em;
              line-height: 20px;
              padding: 5px 20px;
            }
          }//textbox
          .kbg-img{
            display: flex;
            width: 250px;
            padding: 10px;
            justify-content: space-between;
            align-items: flex-end;
            @media screen and(max-width:1000px){
              display: none;
            }
            .kbg{
              display: block;
              object-fit: cover;
              object-position: center;
            }
            .kbg1{
              width: 52%;
              height: 80%;
            }
            .kbg2{
              width: 45%;
              height: 60%;
            }
          }//kbg-img
        }//content
      }//contents
      /* button-------------------------------------------- */
      div.controls{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        div.indicator{
          width: 100%;
          display: flex;
          justify-content: center;
          
          margin: 0 20px;
          button{
            margin-top: 60px;
            position: relative;
            z-index: 100;
            width: 16%;
            color: rgba(#fff,0.7);
            font-size: 1.2em;
            &::before{
              margin: 0 auto;
              display: flex;
              vertical-align: middle;
              align-content: center;
              align-items: center;
              justify-content: center;
              
              position: absolute;
              top: -50%; left: 0;
              
              content: "";
              width: 100%;
              height: 3px;
              background-color: #fff;
            }
            &:hover,&.active{
              font-size: 2em;
              font-weight: 600 ;
              color: #fff;
            }
            &.active{
              &::before{
                content: "";
                width: 100%;
                height: 10px;
                background-color: #fff;
              }
            }
          }//button
        }//div.indicator
        .prev,.next{
          width: 60px;
          height: 60px;
          font-size: 2em;
          text-align: center;
          line-height: 40px;
          color: #fff;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }//.prev,.next
      }//div.controls
    }//div.content
  }//sub-history-kbg
}//main.sub