main.sub .sub-history {
  height: 100%;
  position: relative;
  /* content--------------------------------------------- */
}
main.sub .sub-history figure.bg-deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main.sub .sub-history figure.bg-deco img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}
main.sub .sub-history figure.bg-deco img.mountain {
  width: 105%;
  bottom: -15%;
  opacity: 0.1;
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history figure.bg-deco img.mountain {
    bottom: -5%;
    height: 20%;
  }
}
main.sub .sub-history div.sub-history-content {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  /* button--------------------------------------------- */
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content {
    width: 80%;
    max-width: 800px;
  }
}
main.sub .sub-history div.sub-history-content div.col_width {
  height: 100%;
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width {
    width: 100%;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container {
  position: relative;
  width: 600%;
  height: 100%;
  display: flex;
  cursor: grab;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li {
  position: relative;
  width: 16.6666%;
  height: 100%;
  color: var(--gray);
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li figure.top-img {
  position: relative;
  width: 100%;
  height: 30%;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li figure.top-img {
    height: 25%;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li figure.top-img img {
  position: absolute;
  bottom: -50%;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.century-textbox {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  margin-left: 10px;
  padding-right: 20px;
  box-sizing: border-box;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.century-textbox p.century {
  font-size: 1.2em;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.century-textbox h3.year {
  font-size: 5em;
  font-weight: 600;
  line-height: 90px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.century-textbox h3.year span.point-sans {
  font-weight: 400;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content {
  height: 50%;
  display: flex;
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content {
    display: block;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox {
  width: 50%;
  padding: 10px;
  padding-top: 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox {
    width: 100%;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox h4 {
  display: flex;
  height: 50px;
  align-items: center;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox h4 .arrow {
  width: 50px;
  height: 50px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox h4 em.history-title {
  font-size: 1.5em;
  line-height: 25px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox {
  padding-left: 10px;
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox {
    margin-top: 30px;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox li {
  white-space: nowrap;
  padding: 5px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox li p.yearly em {
  display: inline-block;
  width: 50px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content div.bottom-textbox ol.yearly-textbox li p.yearly b {
  padding-left: 10px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure {
  display: flex;
  padding-bottom: 20px;
  box-sizing: border-box;
  align-items: flex-end;
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure {
    width: 100%;
  }
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure img {
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  padding: 5px;
  flex: 1;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure img:first-child {
  width: 55%;
  height: 200px;
}
main.sub .sub-history div.sub-history-content div.col_width ol.img_container li div.bottom-content figure img:last-child {
  width: 40%;
  height: 160px;
}
main.sub .sub-history div.sub-history-content div.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.controls {
    max-width: 1200px;
    bottom: 100px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.controls {
    max-width: 800px;
  }
}
main.sub .sub-history div.sub-history-content div.controls div.indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
@media screen and (max-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.controls div.indicator {
    display: none;
  }
}
main.sub .sub-history div.sub-history-content div.controls div.indicator button {
  flex: 1;
  color: #fff;
  font-size: 2em;
  margin: 0 10px;
  opacity: 0.5;
}
main.sub .sub-history div.sub-history-content div.controls div.indicator button:hover, main.sub .sub-history div.sub-history-content div.controls div.indicator button.active {
  opacity: 1;
  font-size: 3em;
}
main.sub .sub-history div.sub-history-content div.controls div.indicator button.active {
  color: var(--yellow-sub);
  font-weight: 600;
}
main.sub .sub-history div.sub-history-content div.controls .prev, main.sub .sub-history div.sub-history-content div.controls .next {
  position: absolute;
  font-size: 3em;
  text-align: center;
  color: #fff;
  opacity: 0.5;
  transition: all 0.5s;
}
main.sub .sub-history div.sub-history-content div.controls .prev:hover, main.sub .sub-history div.sub-history-content div.controls .next:hover {
  opacity: 1;
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.controls .prev {
    top: -50%;
    left: 5%;
  }
}
@media screen and (min-width: 1000px) {
  main.sub .sub-history div.sub-history-content div.controls .next {
    top: -50%;
    right: 5%;
  }
}/*# sourceMappingURL=sub-history.css.map */