@charset "UTF-8";
section.sub-gallery {
  overflow: hidden;
  position: relative;
  height: 100%;
  /* 버튼 -------------------------------------------- */
  /* 뚜껑 */
}
section.sub-gallery .sub-title-wrap-center {
  position: relative;
  z-index: 10 !important;
}
@media screen and (orientation: portrait) {
  section.sub-gallery .sub-title-wrap-center {
    margin-top: 20px !important;
  }
}
section.sub-gallery div.content {
  position: relative;
  width: 95%;
  height: 95%;
  max-width: 1000px;
  max-height: 750px;
}
section.sub-gallery div.content .book {
  height: 85%;
  /* 왼쪽 페이지 --------------------------------- */
  /* 오른쪽 페이지 ----------------------------------------------- */
  /* 표지 */
}
section.sub-gallery div.content .book .page img.bg-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.sub-gallery div.content .book .page-even {
  position: relative;
}
section.sub-gallery div.content .book .page-even .inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
@media screen and (orientation: portrait) {
  section.sub-gallery div.content .book .page-even .inner {
    padding: 15px;
  }
  section.sub-gallery div.content .book .page-even .inner .textbox {
    height: 90% !important;
    overflow-y: auto;
  }
}
section.sub-gallery div.content .book .page-even .inner .textbox {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
section.sub-gallery div.content .book .page-even .inner .textbox .title {
  position: relative;
  width: 52%;
  height: 100%;
  font-size: 2.5em;
  font-weight: 600;
}
section.sub-gallery div.content .book .page-even .inner .textbox .title .front {
  position: absolute;
  top: 0;
  color: var(--navy-main);
}
section.sub-gallery div.content .book .page-even .inner .textbox .title .back {
  position: absolute;
  top: 2%;
  left: 3%;
  color: #999;
}
section.sub-gallery div.content .book .page-even .inner .textbox .title img {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}
@media screen and (orientation: portrait) {
  section.sub-gallery div.content .book .page-even .inner .textbox .title img {
    box-sizing: border-box;
    padding-top: 15px;
  }
}
section.sub-gallery div.content .book .page-even .inner .textbox p {
  width: 48%;
  font-size: 0.75em;
}
section.sub-gallery div.content .book .page-even .inner .sidetext {
  box-sizing: border-box;
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}
@media screen and (orientation: portrait) {
  section.sub-gallery div.content .book .page-even .inner .sidetext {
    display: none;
  }
}
section.sub-gallery div.content .book .page-even .inner .sidetext p {
  font-weight: 600;
  font-size: 0.9em;
  writing-mode: vertical-rl;
}
section.sub-gallery div.content .book .page-odd .inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
@media screen and (orientation: portrait) {
  section.sub-gallery div.content .book .page-odd .inner {
    padding: 15px;
  }
  section.sub-gallery div.content .book .page-odd .inner .box .textbox {
    overflow-y: auto;
  }
}
section.sub-gallery div.content .book .page-odd .inner .box {
  width: 100%;
  height: 100%;
}
section.sub-gallery div.content .book .page-odd .inner .box figure {
  width: 100%;
  height: 40%;
}
section.sub-gallery div.content .book .page-odd .inner .box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.sub-gallery div.content .book .page-odd .inner .box .textbox {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 10px;
}
section.sub-gallery div.content .book .page-odd .inner .box .textbox p.left {
  width: 8%;
  font-weight: 600;
  font-size: 0.9em;
  writing-mode: vertical-rl;
}
@media screen and (orientation: portrait) {
  section.sub-gallery div.content .book .page-odd .inner .box .textbox p.left {
    opacity: 0;
  }
}
section.sub-gallery div.content .book .page-odd .inner .box .textbox p.right {
  width: 50%;
  font-size: 0.75em;
}
section.sub-gallery div.content .book .page1 .page1-inner {
  height: 100%;
  background: url(../../img/sub/sub-deco/gallery-book-texture.png);
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap {
  position: relative;
  max-width: 95%;
  max-height: 95%;
  overflow: hidden;
}
section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img.star-bg {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: star 8s linear infinite;
}
section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img.front-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1000px) {
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap {
    height: 100%;
  }
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img {
    height: 100%;
  }
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img.star-bg {
    transform: scale(1.5);
  }
}
@media screen and (min-width: 939px) and (max-width: 1000px) {
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img {
    width: 95%;
  }
}
@media screen and (max-width: 939px) {
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap {
    height: 100%;
  }
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img {
    height: 100%;
  }
  section.sub-gallery div.content .book .page1 .page1-inner .page1-wrap img.star-bg {
    transform: scale(1.5);
  }
}
section.sub-gallery div.content .book .page10 {
  height: 100%;
  background: url(../../img/sub/sub-deco/gallery-book-texture.png);
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sub-gallery div.content .book .page10 img {
  max-width: 95%;
  max-height: 95%;
}
@keyframes star {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-1%, -1%);
  }
  0% {
    transform: translate(0, 0);
  }
}
section.sub-gallery .btns {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
section.sub-gallery .btns button {
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  overflow: hidden;
  position: relative;
  color: var(--yellow-sub);
  font-weight: 400;
  font-size: 13px;
  background: var(--navy-main);
  padding: 7px 15px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: background 0.3s;
}
section.sub-gallery .btns button span {
  position: relative;
  z-index: 1;
}
section.sub-gallery .btns button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 250%;
  width: 130%;
  background: var(--navy-sub);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
section.sub-gallery .btns button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
section.sub-gallery .btns button.active {
  background: var(--navy-sub);
}
section.sub-gallery .cover {
  position: absolute;
  width: 100%;
  height: 50%;
  transition: all 1s;
}
section.sub-gallery .cover.cover-top {
  top: 0%;
}
section.sub-gallery .cover.cover-top img {
  top: 0;
}
section.sub-gallery .cover.cover-bottom {
  bottom: 0%;
}
section.sub-gallery .cover.cover-bottom img {
  bottom: 0;
}
section.sub-gallery .cover img {
  position: absolute;
  width: 100%;
  height: 120%;
}
section.sub-gallery .cover.active.cover-top {
  top: -53%;
}
section.sub-gallery .cover.active.cover-bottom {
  bottom: -53%;
}
section.sub-gallery .gallery-bg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
@media screen and (orientation: landscape) {
  section.sub-gallery .gallery-bg {
    width: 100%;
  }
}
@media screen and (orientation: portrait) {
  section.sub-gallery .gallery-bg {
    height: 80%;
  }
}/*# sourceMappingURL=sub-gallery.css.map */