section.sub-gallery {
  overflow: hidden;
  position: relative;
  height: 100%;
  .sub-title-wrap-center{
    @media screen and (orientation: portrait) {
    margin-top: 20px !important;
    }
  }

  div.content {
    position: relative;
    width: 95%;
    height: 95%;
    max-width: 1000px;
    max-height: 750px;
    .book {
      height: 85%;
      .page {
        img.bg-left {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        } //bg-left
      } //page

      /* 왼쪽 페이지 --------------------------------- */
      .page-even {
        position: relative;
        .inner {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 30px;
          @media screen and (orientation: portrait) {
            padding: 15px;
            .textbox{
              height: 90% !important;
              overflow-y: auto;
              }
            }
          .textbox {
            width: 100%;
            height: 65%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .title {
              position: relative;
              width: 52%;
              height: 100%;
              font-size: 2.5em;
              font-weight: 600;
              .front {
                position: absolute;
                top: 0;
                color: var(--navy-main);
              } //front
              .back {
                position: absolute;
                top: 2%;
                left: 3%;
                color: #999;
              } //back
              img {
                position: absolute;
                bottom: 0;
                width: 95%;
                height: 50%;
                object-fit: cover;
                object-position: center;
                @media screen and (orientation: portrait) {
                  box-sizing: border-box;
                  padding-top: 15px;
                  }
              } //img
            } //title
            p {
              width: 48%;
              font-size: 0.75em;
            } //p
          } //textbox
          .sidetext {
            box-sizing: border-box;
            padding: 15px 0;
            display: flex;
            justify-content: flex-end;
            @media screen and (orientation: portrait) {
              display: none;
              }
            p {
              font-weight: 600;
              font-size: 0.9em;
              writing-mode: vertical-rl;
            } //p
          } //sidetext
        } //inner
      } //page-even

      /* 오른쪽 페이지 ----------------------------------------------- */
      .page-odd {
        .inner {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 30px;
          @media screen and (orientation: portrait) {
            padding: 15px;
            .box{
              .textbox{
                overflow-y: auto;
                }    
            }    
            }
          .box {
            width: 100%;
            height: 100%;
            figure {
              width: 100%;
              height: 40%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            .textbox {
              width: 100%;
              height: 60%;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              box-sizing: border-box;
              padding-top: 10px;

              p.left {
                width: 8%;
                font-weight: 600;
                font-size: 0.9em;
                writing-mode: vertical-rl;
                @media screen and (orientation: portrait) {
                  opacity: 0;
                  }
              }
              p.right {
                width: 50%;
                font-size: 0.75em;
              }
            }
          }
        }
      }

      /* 표지 */
      .page1 {
        height: 100%;
        background: url(../../img/sub/sub-deco/gallery-book-texture.png);
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .page1-wrap {
          position: relative;
          height: 100%;
          max-width: 95%;
          max-height: 95%;
          overflow: hidden;
          img.star-bg {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            animation: star 8s linear infinite;
            transform: scale(1.5);
          }
          img.front-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        } //page1-wrap
      } //page1,7
      .page7 {
        height: 100%;
        background: url(../../img/sub/sub-deco/gallery-book-texture.png);
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 95%;
          max-height: 95%;
        }
      }
    } //book
  } //content

  @keyframes star {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1%, -1%);
    }
    0% {
      transform: translate(0, 0);
    }
  }

  /* 버튼 -------------------------------------------- */
  .btns {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    button {
      cursor: pointer;
      border: none;
      text-align: center;
      outline: none;
      overflow: hidden;
      position: relative;
      color: var(--yellow-sub);
      font-weight: 400;
      font-size: 13px;
      background: var(--navy-main);
      padding: 7px 15px;
      margin: 0 auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transform: background 0.3s;
    }

    button span {
      position: relative;
      z-index: 1;
    }

    button:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 250%;
      width: 130%;
      background: var(--navy-sub);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }

    button:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    button.active {
      background: var(--navy-sub);
    }
  }

  /* 뚜껑 */
  .cover {
    position: absolute;
    width: 100%;
    height: 50%;
    transition: all 1s;
    &.cover-top {
      top: 0%;
      img {
        top: 0;
      }
    } //cover-top
    &.cover-bottom {
      bottom: 0%;
      img {
        bottom: 0;
      }
    } //cover-bottom
    img {
      position: absolute;
      width: 100%;
      height: 120%;
    } //img

    &.active {
      &.cover-top {
        top: -53%;
      }
      &.cover-bottom {
        bottom: -53%;
      }
    } //active
  } //cover

  .gallery-bg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    @media screen and (orientation: landscape) {
      width: 100%;
    }
    @media screen and (orientation: portrait) {
      height: 80%;
    }
  } //gallery-bg
}
