/* ----------텍스트 css---------- */
.wrap {
  background-image: url(../../img/main/main-visual/kbg/kbg-background.png);/* 전체배경 */
}

  .text-box {
  text-align: center;
  .section-title {
    font-family: "EBS";
    font-size: 4em;
  } //section1-title
  .section-desc {
    font-size: 1.3em;
  } //section1-desc
} //palace1 text-box
