/* ----------텍스트 css---------- */
.wrap{
  background-image: url('../../img/visual/kbg/kbg-background.png');
}

  .text-box {
  text-align: center;
  .section-title {
    font-family: "EBS";
    font-size: 4em;
  } //section1-title
  .section-desc {
    font-size: 1.3em;
  } //section1-desc
} //text-box
