.main-about {
  height: 400%;
}
.main-about .scr-target {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid yellow;
  z-index: 100;
}
.main-about .scr-target.scr-target1 {
  top: 0%;
}
.main-about .scr-target.scr-target2 {
  top: 25%;
}
.main-about .scr-target.scr-target3 {
  top: 50%;
}
.main-about .scr-target.scr-target4 {
  top: 75%;
}
.main-about .title-container {
  position: absolute;
  width: 100%;
  height: 25%;
}
.main-about .title-container .title {
  transform: translate(-50%, -30%);
}
.main-about .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 25%;
  box-sizing: border-box;
}
.main-about .sticky .img-container {
  position: absolute;
  width: 90%;
  height: 60%;
  max-width: 700px;
  max-height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
}
.main-about .sticky .img-container .imgbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.main-about .sticky .img-container .imgbox.active {
  opacity: 1;
}
.main-about .sticky .img-container .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-about .sticky .text-container {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 2%;
  width: 400%;
  height: 20%;
}
@media screen and (max-width: 600px) {
  .main-about .sticky .text-container {
    height: 40%;
  }
}
.main-about .sticky .text-container .textbox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about .sticky .text-container .textbox .text {
  position: relative;
  width: 90%;
  box-sizing: border-box;
  max-width: 800px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
.main-about .sticky .text-container .textbox .text .roof {
  position: absolute;
  height: 50px;
  bottom: 98%;
  left: 50%;
  transform: translateX(-50%);
}
.main-about .sticky .text-container .textbox .text h3 {
  position: relative;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 5px;
  text-align: center;
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.main-about .sticky .text-container .textbox .text h3 small {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
}
.main-about .sticky .text-container .textbox .text h3 em {
  font-size: 2em;
}
.main-about .sticky .text-container .textbox .text h3 a {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  background: rgba(45, 55, 107, 0.5);
  color: #FFF;
  font-size: 0.8em;
}
.main-about .sticky .text-container .textbox .text h3 a:hover {
  background: #2d376b;
}
.main-about .sticky .text-container .textbox .text h3 span {
  position: absolute;
  font-size: 7em;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
.main-about .sticky .text-container .textbox .text p {
  color: #fff;
  padding: 10px;
  line-height: 1.5em;
  border-radius: 15px;
  background: rgba(45, 55, 107, 0.5);
}/*# sourceMappingURL=main-about.css.map */