.home-section1 {
  width: 100%;
  height: 100%;
}

.sticky-container {
  border: 10px solid red;
  .sticky {
    border: 2px solid blue;
    position: sticky;
    top: 0;
    .text-box {
      background-color: pink;
      margin: 100px auto;
      max-width: 400px;
      text-align: center;
    } //text-box
    .sticky-inner {
      width: 400%;
      border: 5px solid green;
      .sticky-inner-container {
        display: flex;
        width: 100%;
        border: 5px solid yellow;
        .palace {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          height: 500px;
          figure {
            position: relative;
            display: flex;
            @media screen and (min-width: 1200px) {
              width: 60%;
              height: 85%;
            } //lg
            @media screen and (max-width: 1200px) {
              width: 100%;
              height: 80%;
            } //sm
            .kbg {
              position: absolute;
              right: 0;
              top: -10%;
            } //경복궁
            .cloud {
              position: absolute;
              right: -10%;
              top: -10%;
            } //구름
          } //figure(나중에 이미지로 교체)
          .palace-name2 {
            position: absolute;
            font-size: 4em;
            color: #fff;
            left: -90%;
            top: 5%;
            color: #181933;
            font-weight: 500;
          } //palace-name2
          .palacae-text-all {
            width: 550px;
            height: 90%;
            color: #fff;
            .palace-name {
              font-size: 1.3em;
              margin-bottom: 5px;
            } //palace-name
            .palace-h {
              font-size: 2.3em;
              margin-bottom: 15px;
            } //palace-h
            .palacae-text {
              letter-spacing: 2px;
              font-weight: 100;
              font-size: 0.9em;
              margin-bottom: 60px;
              color: #eee;
            } //palacae-text
            .palace-zoom {
              position: relative;
              font-size: 1.1em;
              &::after {
                content: " ";
                top: -5px;
                left: -15px;
                display: block;
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: var(--yellow-sub);
                opacity: 0.6;
              } //palace-zoom::after
            } //palace-zoom
          } //palacae-text-all
        } //palace1
      } //sticky-inner-container
      .palace2 {
        background-color: rgb(191, 26, 241);
      } //palace2
      .palace3 {
        background-color: rgb(50, 238, 106);
      } //palace3
      .palace4 {
        background-color: tomato;
      } //palace4
    } //sticky-inner
  } //sticky
} //sticky-container
