/*------------------------------  */
.slider-section1 {
  .sticky-container {
    .sticky {
      position: sticky;
      top: 0;
      box-sizing: border-box;
    } //sticky
    .sticky-inner {
      display: flex;
      height: 100%;
      width: 400%;
    } //sticky-inner
    section {
      flex: 1;
    } //section
  } //sticky-container
} //slider-section1

.slider-section1 {
  .palace1 {
    border: 1px solid red;
    .palace-h {
      font-size: 3em;
      text-align: center;
      margin-top: 50px;
    } //palace-h
    .palace-img {
      .img-box {
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 5px 20px #fff;
      } //figcaption
    } //palace-img
  } //palace1
  .palace2 {
    border: 1px solid red;
  } //palace2
  .palace3 {
    border: 1px solid red;
  } //palace3
  .palace4 {
    border: 1px solid red;
  } //palace4
} //slider-section1
